*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --main-bg-color: rgb(255, 246, 242);
  --main-text-color: rgb(40, 23, 19);
  --heading-text-color: rgb(211, 0, 0);
  --secondary-bg-color: rgb(186, 132, 117);
  --modal-background-opacity: rgba(40, 23, 19, 0.9);
  font-family: "Roboto", sans-serif;
}

body {
  background-color: var(--main-bg-color);
}
.libraryDisplay {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, 20rem);
  grid-auto-flow: dense;
}
.bookDisplay {
  margin: 0 auto;
  background-color: var(--secondary-bg-color);
  color: var(--main-text-color);
  display: grid;
  grid-template: 1fr / 1fr;
  max-width: fit-content;
  padding: 10px;
  box-shadow: 2px 2px 10px 2px var(--main-text-color);
}
.add-new-book {
  margin: 0 auto;
  background-color: var(--secondary-bg-color);
  color: var(--main-text-color);
  display: grid;
  grid-template: 1fr / 1fr;
  align-items: center;
  box-shadow: 2px 2px 10px 2px var(--main-text-color);
  gap: 20px;
  min-height: 427px;
}

.add-new-book > div > object {
  transform: scale(0.7);
  pointer-events: none;
  user-select: none;
  max-width: 270px;
}
.add-new-book > h4 {
  pointer-events: none;
  user-select: none;
  text-align: center;
  padding: 0 0 20px 0;
}
.add-new-book:hover {
  opacity: 0.7;
  border: 2px solid #d30000;
}
.cover {
  justify-self: center;
  object-fit: cover;
}
.cover:hover {
  opacity: 0.5;
  border: 2px solid #d30000;
}
.details-container {
  display: none;
  grid-column: 1/-1;
  grid-template: repeat(6, min-content) / min-content 1fr;
  padding: 10px;
  gap: 10px;
  background-color: var(--secondary-bg-color);
  border: 5px solid var(--heading-text-color);
  /* max-width: fit-content; */
  /* justify-self: center; */
}
#deleteFromLibrary {
  grid-column: span 2;
  max-width: fit-content;
  min-height: 50px;
  justify-self: center;
  background-color: var(--main-bg-color);
  border: none;
  border-radius: 5px;
}
.book-details {
  display: grid;
  gap: 2px;
}
.book-details > h4 {
  justify-self: left;
}
.book-details > p {
  justify-self: right;
}

.book-details.title {
  grid-area: 1/1/2/3;
  justify-self: center;
  border-bottom: 2px solid var(--main-text-color);
  border-top: 2px solid var(--main-text-color);
}

.book-details.author {
  grid-area: 2/1/3/-1;
}
.book-details.author > h4 {
  grid-area: 1/1/2/-1;
}
.book-details.author > p {
  grid-area: 1/2/2/3;
}

.book-details.genre {
  grid-area: 3/1/3/-1;
}
.book-details.genre > h4 {
  grid-area: 1/1/2/-1;
}
.book-details.genre > p {
  grid-area: 1/2/2/3;
}

.book-details.yearPublished {
  grid-area: 4/1/5/-1;
}
.book-details.yearPublished > h4 {
  grid-area: 1/1/2/-1;
}
.book-details.yearPublished > p {
  grid-area: 1/2/2/3;
}

.book-details.pages {
  grid-area: 5/1/6/-1;
}
.book-details.pages > h4 {
  grid-area: 1/1/2/-1;
}
.book-details.pages > p {
  grid-area: 1/2/2/3;
}

.book-details.hasRead {
  grid-area: 6/1/7/-1;
}
.book-details.hasRead > h4 {
  grid-area: 1/1/2/-1;
}
.book-details.hasRead > p {
  grid-area: 1/2/2/3;
}

#add-new-book_modal {
  padding: 20px;
  text-align: center;
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: var(--modal-background-opacity);
}

#add-new-book_form {
  display: grid;
  grid-template: 1fr repeat(9, 0.3fr) / min-content 1fr 0.1fr;
  background-color: var(--main-bg-color);
  padding: 20px;
  gap: 1rem;
  max-width: fit-content;
  align-items: center;
  margin: 0 auto;
  border: 20px solid var(--secondary-bg-color);
  border-radius: 10px;
}
#add-new-book_form > h3 {
  color: var(--main-bg-color);
  padding: 20px;
  grid-column: span 2;
  max-width: fit-content;
  justify-self: center;
  border: solid 5px var(--secondary-bg-color);
  background-color: var(--main-text-color);
}
#add-new-book_form > label {
  font-weight: 500;
  grid-column: 1;
  min-width: max-content;
  justify-self: right;
}
#add-new-book_form > input {
  padding-left: 10px;
  font-weight: 500;
  border-radius: 5px;
  grid-column: 2;
  max-width: max-content;
}
#add-new-book_form > button {
  padding: 10px;
  font-weight: 900;
  justify-self: center;
  max-width: fit-content;
  grid-column: span 3;
  border: none;
  background-color: var(--main-text-color);
  color: var(--main-bg-color);
  border-radius: 5px;
  box-shadow: 2px 2px 10px var(--main-text-color);
}
#add-new-book_form > button:hover {
  background-color: var(--heading-text-color);
}
#cover-img {
  padding: 10px 0px;
}
#cover-img::file-selector-button {
  background-color: var(--main-text-color);
  color:var(--main-bg-color);
  padding: 5px;
  margin-right: 10px;
  border-radius: 5px;
  border: none;
  box-shadow: 2px 2px 10px var(--main-text-color);
}
#cover-img::file-selector-button:hover {
  background-color: var(--heading-text-color);
}
#add-new-book_form > img {
  max-width: 100px;
  max-height: 100px;
  min-width: 100px;
  min-height: 100px;
  border: 5px solid var(--main-text-color);
  justify-self: center;
  object-fit: scale-down;
}
.close {
  color: var(--main-text-color);
  font-size: 32px;
  font-weight: bold;
  max-width: fit-content;
  max-height: 32px;
  justify-self: center;
  align-self: flex-start;
  grid-column: 3;
}
.close:hover,
.close:focus {
  color: var(--heading-text-color);
  cursor: pointer;
  text-decoration: none;
}
#hasRead {
  min-width: 20px;
  height: 20px;
}
#hasRead:checked {
  accent-color: var(--heading-text-color);
}
